:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: rgba(0, 0, 0, 1);
  --foreground-rgb-dark: rgba(0, 0, 0, 0.658);

  --background-rgb: rgba(255, 255, 255, 1);
  --alt-background-rgb: rgb(243, 222, 222);
  --code-bg-rgb: rgba(36, 36, 36);

  --overlay-color-1: #2d7feb;
  --overlay-color-2: #94b7f3;
  --anim-duration: 2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(255, 255, 255, 1);
    --foreground-rgb-dark: rgba(255, 255, 255, 0.63);

    --background-rgb: rgba(0, 0, 0, 0.925);
    --alt-background-rgb: rgba(255, 255, 255, 0.644);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



