.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    overflow: scroll;

    background: linear-gradient(-45deg, var(--overlay-color-1), var(--overlay-color-2));
}

.container {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    right: 20px;

    background: var(--background-rgb);
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px; 
}

.particles {
    position: sticky;
    z-index: -1;
}