.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    overflow: scroll;

    background: linear-gradient(-45deg, var(--overlay-color-1), var(--overlay-color-2));
}

.container {
    min-height: calc(100% - 20px); /* 100%width - margin */
    width: calc(100% - 40px); /* 100%width - 2margin */
    z-index: 2;
    margin: 20px 20px 0px;
    overflow: hidden;
    display: inline-block;

    background: var(--background-rgb);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5.3px);
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px; 
}

.particles {
    position: sticky;
    z-index: -1;
}