.container {
    margin: auto;
}


.container pre {
    background-color: var(--code-bg-rgb);
    /* overflow: scroll; */
    font-family: 'Monaco', monospace;
    padding: 0 1em;
}


.container code {
    font-family: Monaco, monospace;
    background-color: var(--code-bg-rgb);
    border-radius: 1px;
    overflow-wrap: break-word;
    max-width: 100%;
}


.container pre code {
    border: none;
    word-break: break-all;
}


.container img {
    display: block;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
}

#text {
    color: var(--foreground-rgb);
}

.title {
    text-align: center;
}

.content {
    padding: 10px 50px 50px 50px;
    max-width: 100%;
    /* text-align: left; */
}