@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container {
    margin: auto;
}


.container pre {
    background-color: var(--code-bg-rgb);
    /* overflow: scroll; */
    font-family: 'Monaco', monospace;
    padding: 0 1em;
}


.container code {
    font-family: Monaco, monospace;
    background-color: var(--code-bg-rgb);
    border-radius: 1px;
    overflow-wrap: break-word;
    max-width: 100%;
}


.container pre code {
    border: none;
    word-break: break-all;
}


.container img {
    display: block;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
}

#text {
    color: var(--foreground-rgb);
}

.title {
    text-align: center;
}

.content {
    font-family: "Lato", sans-serif;
    padding: 10px 50px 50px 50px;
    max-width: 1200px;
    margin: auto;

    font-size: 1.25rem;
    line-height: 1.875rem;
    /* text-align: left; */
}

.content a {
  color: rgb(74, 74, 250);
  text-decoration: underline;
}

.content em {
  font-size: 12px;
  color: gray;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  transform: translateY(-20px);
}

.content img {
  max-width: 1000px;
}

.content p {
  text-indent: 2em;
}

.content h2 {
  margin: 1.25rem 0px;
}

.content li p {
  text-indent: 0px;
}

.content li {
  margin: 20px 0px;
}